@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/css/CustomerPage.css">

    <title>Welcome customer</title>
    <ul class="navbar">
        <li><a href="#home">Home</a></li>
        <li><a href="@Url.Action("datapup", "Customer")">Menu</a></li>

    </ul>
</head>
<body>
    <div>
        <h1>Customer</h1>
    </div>
</body>
</html>
