@{
    Layout = null;
}



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error </title>
</head>
<body>
    <div>
        <h1>do not have account</h1>
    </div>
</body>
</html>
