@{
    Layout = null;
}
    
<!DOCTYPE html>

<html>
<head>
    <title>Home Page Admin</title>
    <meta name="viewport" content="width=device-width" />
    

</head>
<body>
    <div class="admin">
        <link rel="stylesheet" href="~/Content/css/AdminPage.css">
    <h1>Welcom</h1>
    </div>
</body>
<header>
    <a href="#" class="CoffeShop">
        <img src="~/Content/css/image/coffeelogo.png" alt="">

    </a>
    <i class='homepa' id="menu-icon"></i>
    <ul class="navbar">
        <li><a href="#home">Home</a></li>
        <li><a href="@Url.Action("MenuPage", "CoffeeShop")">Menu</a></li>
        <li><a href="@Url.Action("Rooms", "CoffeeShop")">Rooms</a></li>
        <li><a href="@Url.Action("Index", "Carts")">Orders</a></li>
    </ul>
</header>
</html>
