@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/css/Menu.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <title>Menu</title>
</head>
<body>
    <div>
    
    </div>
</body>
<head>
    <div class="header-icon">
        <i class='bx bx-cart-alt'></i>
        <i class='bx bx-search-alt' id="search-icon"></i>
    </div>
</head>
<section class="Menu" id="Menu">
    <div class="heading">
        <h2>
            Our Popular Products
        </h2>
    </div>
    <div class="products-container">
        <div class="box">
            <img src="~/Content/css/image/pro1.jpg" alt="" />
            <h3>Sahlb</h3>
            <div class="content">
                <span>7 IL</span>

            </div>

        </div>

        <div class="box">
            <img src="~/Content/css/image/pro2.jpg" alt="" />
            <h3>Capitchino</h3>
            <div class="content">
                <span>8 IL</span>

            </div>

        </div>
        <div class="box">
            <img src="~/Content/css/image/11.png" alt="" />
            <h3>IceCafe Creem</h3>
            <div class="content">
                <span>13 IL</span>

            </div>

        </div>

        <div class="box">
            <img src="~/Content/css/image/pro3.jpg" alt="" />
            <h3>Caffee Carima</h3>
            <div class="content">
                <span>13 IL</span>

            </div>

        </div>
        <div class="box">
            <img src="~/Content/css/image/5.png" alt="" />
            <h3>Melchik Lotus</h3>
            <div class="content">
                <span>20 IL</span>

            </div>

        </div>
        <div class="box">
            <img src="~/Content/css/image/4.png" alt="" />
            <h3>Mango and Tot</h3>
            <div class="content">
                <span>18 IL</span>

            </div>

        </div>
        <div class="box">
            <img src="~/Content/css/image/6.png" alt="" />
            <h3>Sahlab with nuts</h3>
            <div class="content">
                <span>20 IL</span>

            </div>

        </div>
        <div class="box">
            <img src="~/Content/css/image/8.png" alt="" />
            <h3>Garoos</h3>
            <div class="content">
                <span>15 IL</span>

            </div>

        </div>
        <div class="box">
            <img src="~/Content/css/image/9.png" alt="" />
            <h3>Betsots</h3>
            <div class="content">
                <span>15 IL</span>

            </div>

        </div>
        <div class="box">
            <img src="~/Content/css/image/7.png" alt="" />
            <h3>Ice Tot</h3>
            <div class="content">
                <span>15 IL</span>

            </div>

        </div>
        <div class="box">
            <img src="~/Content/css/image/10.png" alt="" />
            <h3>Melchek tot</h3>
            <div class="content">
                <span>15 IL</span>

            </div>

        </div>
        <section class="home" id="home">
            <div class="home-text">
                <a href="@Url.Action("AddToCart", "CoffeeShop")" class="btn">Add to cart</a>
            </div>


        </section>


    </div>
</html>
